.title-container {
  width: fit-content;
  border-bottom: solid;
  line-height: 32.4px;
}

.title {
  font-size: var(--font-size-desktop);
}

@media (max-width: 1440px) {
  .title-container {
    width: fit-content;
    border-bottom: solid;
    line-height: 32.4px;
  }
  .title {
    font-size: var(--font-size-tablet);
  }
}

@media (max-width: 768px) {
  .title-container {
    width: fit-content;
    border-bottom: solid;
    line-height: 32.4px;
  }
  .title {
    font-size: var(--font-size-mobile);
  }
}
