.searchBar input {
  background-color: white;
}

.searchBar {
  width: 720px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  box-sizing: border-box;
  background-color: white;
  transition: 0.5s;
}

.active-searchBar {
  border: 2px solid var(--primary-color);
}

.disabled-searchBar {
  border: 2px solid #9e9e9e;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 3%;
  padding-left: 4%;
}

.active-icon {
  border-right: var(--primary-color) solid 4px;
}

.disabled-icon {
  border-right: #9e9e9e solid 4px;
}

.svgIcon {
  height: 25px;
  width: 25px;
}

.input {
  transition: 0.5s;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  direction: rtl;
  width: 85%;
  height: 22px;
  margin: 24px 28px 19px 0px;
}

.active-input {
  color: var(--primary-color);
}

.disabled-input {
  color: #9e9e9e;
}

.input::selection {
  background-color: #3535353f;
}

.input::placeholder {
  color: var(--primary-color) ad;
}

@media (max-width: 1440px) {
  .searchBar {
    width: 770px;
    height: 75px;
  }

  .icon {
    height: 100%;
  }
  .svgIcon {
    width: 30px;
    height: 28px;
  }

  .input {
    font-size: 19px;
    width: 256px;
    height: 21px;
    margin: 27px 29px 26px 0px;
  }
}

@media (max-width: 768px) {
  .searchBar {
    width: 300px;
    height: 50px;
  }

  .icon {
    height: 100%;
    border-right: var(--primary-color) solid 2px;
  }
  .svgIcon {
    width: 17px;
    height: 18px;
  }

  .input {
    font-size: 14px;
    width: 190px;
    height: 17px;
    margin: 18px 15px 15px 0px;
  }
}
