.searchBar input {
  background-color: white;
}

.searchBar {
  width: 720px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #713488;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: #713488 solid 4px;
  padding-right: 3%;
  padding-left: 4%;
}

.svgIcon {
  height: 25px;
  width: 25px;
}

.input {
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: #713488;
  text-align: right;
  direction: rtl;
  width: 85%;
  height: 22px;
  margin: 24px 28px 19px 0px;
}

.input::placeholder {
  color: #713488ad;
}

@media (max-width: 1440px) {
  .searchBar {
    width: 770px;
    height: 75px;
  }

  .icon {
    height: 100%;
  }
  .svgIcon {
    width: 30px;
    height: 28.13px;
  }

  .input {
    font-size: 19px;
    width: 256px;
    height: 21.56px;
    margin: 27.19px 29px 26.25px 0px;
  }
}

@media (max-width: 768px) {
  .searchBar {
    width: 300px;
    height: 50px;
  }

  .icon {
    height: 100%;
    border-right: #713488 solid 2px;
  }
  .svgIcon {
    width: 17.66px;
    height: 18.75px;
  }

  .input {
    font-size: 14px;
    width: 190.25px;
    height: 17px;
    margin: 18px 15.95px 15px 0px;
  }
}
