:root {
  --font-tajawal: "Tajawal", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

body {
  font-family: var(--font-tajawal);
  background-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  color: white;
}

.slick-list {
  padding: 70px;
}
