:root {
  --font-tajawal: "Tajawal", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-tajawal);
  font-weight: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
