.container {
  margin-top: 104px;
  margin-bottom: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .container {
    margin-top: 76px;
    margin-bottom: 49px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 33px;
    margin-bottom: 26px;
  }
}
