.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.3s ease;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.loading {
  opacity: 0.7;
  cursor: wait;
}

.transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.teal {
  background-color: var(--teal-color);
}

.tomato {
  background-color: var(--tomato-color);
}

.small,
.medium,
.large {
  border-radius: 5px;
  border: none;
}

.small {
  font-size: 14px;
  min-width: 100px;
  height: 40px;
  font-weight: 700;
  gap: 5px;
  padding: 12px 6px;
}

.medium {
  font-size: 14px;
  padding: 14px 36px;
  min-width: 150px;
  height: 50px;
  gap: 10px;
  font-weight: 700;
}

.large {
  font-size: 14px;
  padding: 26px 16px;
  min-width: 100px;
  height: 60px;
  gap: 8px;
  font-weight: 900;
}

.xlarge {
  font-size: 15px;
  min-width: 200px;
  padding: 13px 0px;
  height: 45px;
  font-weight: 500;
  border-radius: 6px;
}

.button {
  cursor: pointer;
}

.tomato:hover {
  background-color: #fa4e27;
}

.teal:hover {
  background-color: #04b08e;
}

.primary:hover {
  background-color: var(--secondary-color);
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .small,
  .medium,
  .large {
    border: none;
  }
  .small {
    font-size: 19px;
    min-width: 160px;
    height: 50px;
    font-weight: 700;
    gap: 10px;
    border-radius: 10px;
  }

  .medium {
    font-size: 20px;
    padding: 14px 36px;
    min-width: 234px;
    height: 70px;
    gap: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .large {
    font-size: 20px;
    padding: 26px 51px;
    min-width: 330px;
    height: 85px;
    gap: 15px;
    font-weight: 900;
    border-radius: 10px;
  }

  .xlarge {
    font-size: 15px;
    min-width: 180px;
    height: 45px;
    font-weight: 500;
    border-radius: 6px;
  }
}

@media (min-width: 901px) {
  .small,
  .medium,
  .large {
    border: none;
    font-size: 17px;
  }
  .small {
    min-width: 140px;
    height: 44px;
    font-weight: 700;
    gap: 10px;
    border-radius: 10px;
  }

  .medium {
    padding: 14px 36px;
    min-width: 200px;
    height: 60px;
    gap: 10px;
    font-weight: 700;
    border-radius: 5px;
  }

  .large {
    padding: 26px 51px;
    min-width: 310px;
    height: 80px;
    font-size: 15px;
    gap: 10px;
    font-weight: 900;
    border-radius: 10px;
  }

  .xlarge {
    font-size: 15px;
    min-width: 270px;
    height: 60px;
    font-weight: 500;
    border-radius: 6px;
  }
}
