@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;600&display=swap");

.sidebar {
  position: absolute;
  top: 146px;
  left: 0px;
  z-index: 1000;
  width: 224px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}
.sidebarOpen {
  transform: translateX(0);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0px 23.9px;
}

.menuItem {
  display: flex;
  justify-content: center;
  padding: 16px 0px 14px 0px;
  font-size: 16px;
  color: #713488;
  font-family: "Tajawal", sans-serif;
  border-bottom: 1px solid #713488;
}

.menuItem:last-child {
  border-bottom: none;
}

.icon {
  margin-left: 12px;
}

.iconDropDown {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meanuHeader {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.subMenu {
  display: block;
  list-style: none;
  padding: 0;
  text-align: center;
}

.subMenuItem {
  display: flex;
  justify-content: center;
  padding: 19px 0px 14px 0px;
  font-size: 16px;
  color: #713488;
  font-family: "Tajawal", sans-serif;
  border-bottom: 1px solid #713488;
  background-color: #71348814;
  width: 224px;
}

.subMenuItem:last-child {
  border-bottom: none;
}
