.container {
  width: 1072px;
  box-shadow: 0px 1px 10px 1px #00000040;
  border: 1px solid #783ba2;
  border-radius: 10px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 56px 111px 24px 39px;
  align-items: end;
  direction: rtl;
}

.header-details {
  display: flex;
  gap: 45px;
  direction: ltr;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.profileImage {
  width: 200px;
  height: 200px;
  box-shadow: 0px 1px 10px 1px #00000040;
  border-radius: 50%;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user-name {
  font-size: 27px;
  font-weight: 700;
}

.icon-label {
  font-size: 18px;
  font-weight: 500;
  direction: rtl;
}

.location {
  margin-bottom: 20px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.link-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.link-label a {
  font-size: 18px;
  font-weight: 700;
}

.details {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    width: 940px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 19px 0px 42px 0px;
  }
  .header-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .info {
    align-items: center;
  }
  .links {
    align-items: center;
    margin-bottom: 50px;
  }
  .links-container {
    align-items: center;
  }
}

@media (max-width: 1040px) {
  .container {
    width: 320px;
  }
  .user-name {
    font-size: 18px;
  }

  .icon-label {
    font-size: 14px;
  }
  .link-label a {
    font-size: 14px;
  }
  .profileImage {
    width: 100px;
    height: 100px;
  }
  .details {
    font-size: 16px;
    font-weight: 700;
    margin-top: 27px;
    display: block;
    display: flex;
    gap: 10px;
  }
}
