.learning_path_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 72px;
}

.img_container {
  position: relative;
  width: 100%;
  height: auto;
}

.promotext_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  margin-top: 20px;
}

.promotext_style div:first-child {
  min-height: 507px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .learning_path_section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .img {
    margin-bottom: 20px;
  }

  .promotext_style div:first-child {
    width: 646px;
    min-height: 460px;
    padding-bottom: 27px;
    padding-top: 64px;
  }

  .promotext_style div:first-child p {
    min-width: 575px;
    line-height: 30px;
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .learning_path_section {
    flex-direction: column-reverse;
    padding: 1rem;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  .img {
    width: 300px;
  }

  .promotext_style div:first-child {
    width: 300px;
    min-height: 487px;
  }

  .promotext_style div:first-child p {
    font-size: 14px;
    line-height: 30px;
  }
}
