.container {
  margin-block: 164px;
}

.attools-list-container {
  display: grid;
  justify-content: center;
  grid-row-gap: 60px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, 400px);
  margin-bottom: 60px;
  margin-inline: 40px;
}

.page-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.header-container {
  margin-top: 172px;
  margin-inline: 115px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .attools-list-container {
    grid-template-columns: repeat(auto-fill, 280px);
  }
  .header-container {
    margin-top: 71px;
  }
}

@media (max-width: 576px) {
  .attools-list-container {
    grid-row-gap: 60px;
    margin-bottom: 36px;
  }
}

@media (max-width: 1320px) {
  .header-container {
    margin-top: 123px;
    margin-inline: 0px;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    margin-bottom: 34px;
  }
}
