.card {
  width: 350px;
  height: 509px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  direction: rtl;
}

.avatar {
  width: 350px;
  height: 286px;
  background: url("../../../public/images/course-html.png") no-repeat #ff6542
    center center;
  border-radius: 10px 10px 0 0;
}

.card_body {
  display: flex;
  flex-direction: column;
  color: #713488;
  gap: 1rem;
  margin-top: 1rem;
  padding: 24px 27px;
}

.card_title {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}

.card_content {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.duration {
  margin-top: 7px;
}

.card_footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  direction: ltr;
}

@media (max-width: 600px) {
  .card {
    width: 260px;
    height: 377.86px;
  }

  .avatar {
    width: 260px;
    height: 228px;
    background-size: 139.72px 139.72px;
  }

  .card_body {
    gap: 0;
    margin-top: 0;
    padding: 16px 23px;
  }

  .card_content {
    text-align: center;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .duration {
    margin-top: 0;
  }

  .card_title {
    font-size: 16px;
    margin-right: 4.2rem;
    justify-content: space-around;
  }
}
