.interactive-tools {
  display: flex;
  position: relative;
  background-position: center;
  background-image: url("/images/interactive-tools-image.png");
  background-size: cover;
  height: 856px;
}

.promo-text-container {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  left: 148px;
}

@media (max-width: 1400px) {
  .interactive-tools {
    display: flex;
    justify-content: center;
  }
  .promo-text-container {
    left: 50%;
    transform: translate(-40%, -50%);
  }
}
