.navbar {
  position: relative;
  width: 100%;
  padding: 16.5px 99px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.links {
  cursor: pointer;
  display: flex;
  flex: row;
  gap: 40px;
}

.links li {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0px 4px 5px #00000057;
}

.buttons-container {
  display: flex;
  gap: 21px;
}

.resource-list {
  display: flex;
  gap: 3px;
  align-items: center;
  position: relative;
}

.resouces-menu {
  background-color: white;
  position: absolute;
  top: 36px;
  width: 240px;
  z-index: 40;
  color: var(--primary-color);
  transform: translateX(-35%);
  border-radius: 10px;
  padding: 15px 20px;
}

.resouces-menu li {
  transition: 0.4px;
  padding: 15px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  text-decoration-skip-ink: none;
  border-bottom: 1px solid var(--primary-color);
  text-shadow: none;
}

.resouces-menu li:last-child {
  border-bottom: none;
}

.resouces-menu li:hover {
  background-color: #71348814;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.logout {
  display: flex;
  gap: 25px;
  align-items: center;
  cursor: pointer;
}

.arrowDown {
  transition: 0.5s;
}

@media (max-width: 1440px) {
  .navbar {
    padding: 16.5px 44px;
  }

  .links {
    gap: 30px;
  }

  .logout {
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .resouces-menu {
    display: none;
  }
  .buttons-container {
    display: none;
  }
  .links {
    display: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .image {
    width: 155.48px;
    height: 30px;
  }
  .logout {
    display: none;
  }
  .logout-mobile {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }
}
