.search-container {
  margin-inline: 211px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 84px;
}

.soon-container {
  margin-inline: 211px;
  display: flex;
  justify-content: flex-end;
  margin-top: 83px;
  margin-bottom: 65px;
}

.courses {
  color: black;
  margin-block: 90px;
}

.slider-container {
  width: 100%;
  margin: auto;
  background: white;
}

.courses-list-container {
  position: relative;
}

@media (min-width: 1200px) {
  .slider-container {
    width: 820px;
  }
}

@media (max-width: 1440px) {
  .search-container {
    margin: 0px;
    margin-bottom: 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .soon-container {
    justify-content: center;
    margin-bottom: 33px;
    margin-top: 52px;
  }
}

@media (min-width: 1640px) {
  .slider-container {
    width: 85%;
  }
}
