.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: -4px;
  background-position: center;
  background-image: url("/images/heroSection/header.jpg");
  background-size: cover;
  height: 831px;
}

@media (max-width: 1440px) {
  .hero {
    height: 831px;
  }
}

@media (max-width: 1199px) {
  .hero {
    height: 653px;
  }
}
